In [1]:
import time
from collections import defaultdict
from app.factor.factorModel import factorModel  
import pandas as pd
import numpy as np

import pickle

self = factorModel()

self.run()

Got data in 64.70107412338257 seconds
Processed in 4.5697479248046875 seconds
time used is 0.5209579467773438

{'group_0':     trade_date  dailyRet
 0     20210104  0.010287
 1     20210105  0.000112
 2     20210106 -0.004049
 3     20210107 -0.012736
 4     20210108  0.005757
 ..         ...       ...
 612   20230714  0.000343
 613   20230717 -0.002293
 614   20230718  0.003212
 615   20230719  0.003400
 616   20230720 -0.008119

 [617 rows x 2 columns],
 'group_1':     trade_date  dailyRet
 0     20210104  0.013891
 1     20210105  0.001959
 2     20210106 -0.007887
 3     20210107 -0.019622
 4     20210108  0.002802
 ..         ...       ...
 612   20230714  0.000169
 613   20230717 -0.001485
 614   20230718  0.002501
 615   20230719  0.001197
 616   20230720 -0.008100

 [617 rows x 2 columns],
 'group_2':     trade_date  dailyRet
 0     20210104  0.012395
 1     20210105  0.004557
 2     20210106 -0.007809
 3     20210107 -0.015589
 4     20210108  0.002670
 ..         ...       ...
 612   20230714  0.000781
 613   20230717 -0.001387
 614   20230718  0.000097
 615   20230719 -0.000074
 616   20230720 -0.008771

 [617 rows x 2 columns],
 'group_3':     trade_date  dailyRet
 0     20210104  0.009413
 1     20210105  0.000098
 2     20210106 -0.011968
 3     20210107 -0.020416
 4     20210108  0.003799
 ..         ...       ...
 612   20230714 -0.001398
 613   20230717 -0.001137
 614   20230718  0.001637
 615   20230719 -0.000675
 616   20230720 -0.008367

 [617 rows x 2 columns],
 'group_4':     trade_date  dailyRet
 0     20210104  0.013912
 1     20210105  0.000432
 2     20210106 -0.010994
 3     20210107 -0.022813
 4     20210108  0.002219
 ..         ...       ...
 612   20230714 -0.003308
 613   20230717 -0.001249
 614   20230718  0.000887
 615   20230719 -0.000949
 616   20230720 -0.007351

 [617 rows x 2 columns],
 'group_5':     trade_date  dailyRet
 0     20210104  0.014858
 1     20210105  0.004543
 2     20210106 -0.010987
 3     20210107 -0.016031
 4     20210108  0.000694
 ..         ...       ...
 612   20230714 -0.003049
 613   20230717 -0.003510
 614   20230718  0.001704
 615   20230719 -0.001898
 616   20230720 -0.009520

 [617 rows x 2 columns],
 'group_6':     trade_date  dailyRet
 0     20210104  0.019040
 1     20210105  0.006746
 2     20210106 -0.009561
 3     20210107 -0.019216
 4     20210108  0.003255
 ..         ...       ...
 612   20230714 -0.000355
 613   20230717 -0.003458
 614   20230718 -0.000662
 615   20230719 -0.002713
 616   20230720 -0.008739

 [617 rows x 2 columns],
 'group_7':     trade_date  dailyRet
 0     20210104  0.019918
 1     20210105  0.004858
 2     20210106 -0.009920
 3     20210107 -0.016714
 4     20210108 -0.000156
 ..         ...       ...
 612   20230714 -0.002320
 613   20230717 -0.003008
 614   20230718  0.000823
 615   20230719 -0.004264
 616   20230720 -0.013629

 [617 rows x 2 columns],
 'group_8':     trade_date  dailyRet
 0     20210104  0.018826
 1     20210105  0.003312
 2     20210106 -0.010005
 3     20210107 -0.018866
 4     20210108 -0.003110
 ..         ...       ...
 612   20230714 -0.001438
 613   20230717 -0.004732
 614   20230718 -0.002712
 615   20230719 -0.005466
 616   20230720 -0.014268

 [617 rows x 2 columns],
 'group_9':     trade_date  dailyRet
 0     20210104  0.024140
 1     20210105 -0.001861
 2     20210106 -0.010655
 3     20210107 -0.017297
 4     20210108 -0.008417
 ..         ...       ...
 612   20230714  0.002521
 613   20230717 -0.007385
 614   20230718 -0.005510
 615   20230719 -0.005777
 616   20230720 -0.018767

 [617 rows x 2 columns],
 'longshort_hedge':     trade_date  dailyRet
 0     20210104 -0.013853
 1     20210105  0.001973
 2     20210106  0.006605
 3     20210107  0.004560
 4     20210108  0.014174
 ..         ...       ...
 612   20230714 -0.002178
 613   20230717  0.005092
 614   20230718  0.008722
 615   20230719  0.009176
 616   20230720  0.010648

 [617 rows x 2 columns]}

In [1]:
import time
from collections import defaultdict
from app.factor.factorModel import factorModel  
import pandas as pd
import numpy as np

import pickle

self = factorModel()

profit = self.run()
self.EachGroupPortRet(profit)

Got data in 60.62095808982849 seconds
Processed in 4.5708909034729 seconds
time used is 79.88080596923828

{'group_0':    trade_date  dailyRet
 0    20210104  0.010287
 1    20210105  0.000112
 2    20210106 -0.004049
 3    20210107 -0.012736
 4    20210108  0.005757
 ..        ...       ...
 9    20230714  0.000343
 10   20230717 -0.002293
 11   20230718  0.003212
 12   20230719  0.003400
 13   20230720 -0.008119

 [617 rows x 2 columns],
 'group_1':    trade_date  dailyRet
 0    20210104  0.013891
 1    20210105  0.001959
 2    20210106 -0.007887
 3    20210107 -0.019622
 4    20210108  0.002802
 ..        ...       ...
 9    20230714  0.000169
 10   20230717 -0.001485
 11   20230718  0.002501
 12   20230719  0.001197
 13   20230720 -0.008100

 [617 rows x 2 columns],
 'group_2':    trade_date  dailyRet
 0    20210104  0.012395
 1    20210105  0.004557
 2    20210106 -0.007809
 3    20210107 -0.015589
 4    20210108  0.002670
 ..        ...       ...
 9    20230714  0.000781
 10   20230717 -0.001387
 11   20230718  0.000097
 12   20230719 -0.000074
 13   20230720 -0.008771

 [617 rows x 2 columns],
 'group_3':    trade_date  dailyRet
 0    20210104  0.009413
 1    20210105  0.000098
 2    20210106 -0.011968
 3    20210107 -0.020416
 4    20210108  0.003799
 ..        ...       ...
 9    20230714 -0.001398
 10   20230717 -0.001137
 11   20230718  0.001637
 12   20230719 -0.000675
 13   20230720 -0.008367

 [617 rows x 2 columns],
 'group_4':    trade_date  dailyRet
 0    20210104  0.013912
 1    20210105  0.000432
 2    20210106 -0.010994
 3    20210107 -0.022813
 4    20210108  0.002219
 ..        ...       ...
 9    20230714 -0.003308
 10   20230717 -0.001249
 11   20230718  0.000887
 12   20230719 -0.000949
 13   20230720 -0.007351

 [617 rows x 2 columns],
 'group_5':    trade_date  dailyRet
 0    20210104  0.014858
 1    20210105  0.004543
 2    20210106 -0.010987
 3    20210107 -0.016031
 4    20210108  0.000694
 ..        ...       ...
 9    20230714 -0.003049
 10   20230717 -0.003510
 11   20230718  0.001704
 12   20230719 -0.001898
 13   20230720 -0.009520

 [617 rows x 2 columns],
 'group_6':    trade_date  dailyRet
 0    20210104  0.019040
 1    20210105  0.006746
 2    20210106 -0.009561
 3    20210107 -0.019216
 4    20210108  0.003255
 ..        ...       ...
 9    20230714 -0.000355
 10   20230717 -0.003458
 11   20230718 -0.000662
 12   20230719 -0.002713
 13   20230720 -0.008739

 [617 rows x 2 columns],
 'group_7':    trade_date  dailyRet
 0    20210104  0.019918
 1    20210105  0.004858
 2    20210106 -0.009920
 3    20210107 -0.016714
 4    20210108 -0.000156
 ..        ...       ...
 9    20230714 -0.002320
 10   20230717 -0.003008
 11   20230718  0.000823
 12   20230719 -0.004264
 13   20230720 -0.013629

 [617 rows x 2 columns],
 'group_8':    trade_date  dailyRet
 0    20210104  0.018826
 1    20210105  0.003312
 2    20210106 -0.010005
 3    20210107 -0.018866
 4    20210108 -0.003110
 ..        ...       ...
 9    20230714 -0.001438
 10   20230717 -0.004732
 11   20230718 -0.002712
 12   20230719 -0.005466
 13   20230720 -0.014268

 [617 rows x 2 columns],
 'group_9':    trade_date  dailyRet
 0    20210104  0.024140
 1    20210105 -0.001861
 2    20210106 -0.010655
 3    20210107 -0.017297
 4    20210108 -0.008417
 ..        ...       ...
 9    20230714  0.002521
 10   20230717 -0.007385
 11   20230718 -0.005510
 12   20230719 -0.005777
 13   20230720 -0.018767

 [617 rows x 2 columns],
 'longshort_hedge':     trade_date  dailyRet
 0     20210104 -0.013853
 1     20210105  0.001973
 2     20210106  0.006605
 3     20210107  0.004560
 4     20210108  0.014174
 ..         ...       ...
 612   20230714 -0.002178
 613   20230717  0.005092
 614   20230718  0.008722
 615   20230719  0.009176
 616   20230720  0.010648

 [617 rows x 2 columns]}

In [19]:
#get runtime
import time
import pickle
from collections import defaultdict
from app.factor.factorModel import factorModel  
import pandas as pd
import numpy as np
self = factorModel()
import threading

with open('objs.pkl', 'rb') as f:  # Python 3: open(..., 'rb')
    Equity_Idx_Monthly_Equity_Returns, Monthly_Equity_Returns, Monthly_Factor_Score, Equity_Idx_Monthly_Factor_Score, Daily_Equity_Returns, benchmark_dailyret = pickle.load(f)

start_time = time.time()

try:    
    Daily_Equity_Returns = Daily_Equity_Returns.drop(columns=['trade_data'])
except:
    pass

Daily_Equity_Returns['trade_date'] = pd.to_datetime(Daily_Equity_Returns['trade_date'])

factor_names = list(Monthly_Factor_Score.keys())
month_names = list(Monthly_Equity_Returns.keys())
stock_names = list(Equity_Idx_Monthly_Factor_Score.keys())
minMonths = 2
maxMonths = 12
groupedProfit = defaultdict(dict)
totalIC = 0
combinedIC = {'month': [], 'IC': [], 'cumulative': []}

if self.factorWeightMode != 'smart':
    if self.factorWeightMode == 'equal':
        factorWeights = self.calcFactorWeights(self.factorWeightMode, factor_names)
    elif self.factorWeightMode == 'category':
        factorWeights = self.calcFactorWeights(self.factorWeightMode, factor_names, self.factorCategories)
elif self.factorWeightMode == 'smart':
    ICList = []

    for factor in factor_names:
        ICList.append(self.calcIC(month_names, Monthly_Factor_Score[factor], Monthly_Equity_Returns)[1])
    ICList = pd.DataFrame(ICList).T

    ICList.index = month_names
    ICList.columns = factor_names

#0.818s runtime

for month in range((minMonths if self.factorWeightMode == 'smart' else 0), len(month_names)):

    nameList, scoreList = [], []

    if self.factorWeightMode == 'smart':
        currList = ICList.loc[ICList.index[ICList.index <= month_names[month]]]
        if currList.shape[0] > maxMonths:
            currList = currList.iloc[-maxMonths:]
        factorWeights = self.calcFactorWeights(self.factorWeightMode, factor_names, HistoricalIC=currList, smartmode=self.factorWeightModeParams)
    else:
        if self.factorWeightMode == 'equal':
            factorWeights = self.calcFactorWeights(self.factorWeightMode, factor_names)
        elif self.factorWeightMode == 'category':
            factorWeights = self.calcFactorWeights(self.factorWeightMode, factor_names, self.factorCategories)

    #print(f'Weights - {factorWeights}')
    # print(factorWeights)
    for name in stock_names:
        name, score = self.calcEquityScore(name, factorWeights, Equity_Idx_Monthly_Factor_Score, month_names[month])
        if name:
            nameList.append(name)
            scoreList.append(score)
    
    equityGroups = self.rankEquity(nameList, scoreList)

    try:
        daily_returns_this_month = Daily_Equity_Returns[(Daily_Equity_Returns['trade_date'] >= month_names[month]) 
                            & (Daily_Equity_Returns['trade_date'] < month_names[month+1])]
    except:
        daily_returns_this_month = Daily_Equity_Returns[Daily_Equity_Returns['trade_date'] >= month_names[month]]
    
    for i, group in enumerate(equityGroups):
        # Filter df where 'ts_code' is in the current group
        df_group = daily_returns_this_month[daily_returns_this_month['ts_code'].isin(group)]
        groupedProfit[month_names[month]][f'group_{i}'] = df_group.reset_index(drop=True)    
    
    returnArr = []
    for stock in nameList:
        returnArr.append(Equity_Idx_Monthly_Equity_Returns[stock][month_names[month]])

    currIC = np.corrcoef(returnArr, scoreList)[0,1]
    
    totalIC += currIC
    combinedIC['month'].append(month_names[month])
    combinedIC['IC'].append(currIC)
    combinedIC['cumulative'].append(totalIC)

print("runtime: %s seconds" % (time.time() - start_time))

runtime: 1.2969942092895508 seconds

In [18]:
groupedProfit

defaultdict(dict,
            {'20210104': {'group_0':         ts_code  profit_daily trade_date
              0     000001.SZ     -0.038263 2021-01-04
              1     600345.SH      0.013590 2021-01-04
              2     600339.SH     -0.003247 2021-01-04
              3     600335.SH     -0.008048 2021-01-04
              4     600422.SH      0.002312 2021-01-04
              ...         ...           ...        ...
              4398  002761.SZ     -0.009296 2021-01-29
              4399  002621.SZ     -0.051188 2021-01-29
              4400  002589.SZ     -0.023109 2021-01-29
              4401  002663.SZ     -0.022989 2021-01-29
              4402  002654.SZ     -0.033233 2021-01-29

              [4403 rows x 3 columns],
              'group_1':         ts_code  profit_daily trade_date
              0     600361.SH      0.005025 2021-01-04
              1     600352.SH     -0.000734 2021-01-04
              2     600366.SH      0.034483 2021-01-04
              3     600328.SH      0.005997 2021-01-04
              4     600326.SH      0.018519 2021-01-04
              ...         ...           ...        ...
              4400  002587.SZ     -0.045817 2021-01-29
              4401  002668.SZ      0.018315 2021-01-29
              4402  002666.SZ     -0.023758 2021-01-29
              4403  002628.SZ     -0.017143 2021-01-29
              4404  002641.SZ     -0.021703 2021-01-29

              [4405 rows x 3 columns],
              'group_2':         ts_code  profit_daily trade_date
              0     600350.SH     -0.021036 2021-01-04
              1     600340.SH     -0.020108 2021-01-04
              2     600446.SH     -0.004318 2021-01-04
              3     600418.SH     -0.006541 2021-01-04
              4     600398.SH     -0.020249 2021-01-04
              ...         ...           ...        ...
              4414  002614.SZ      0.004868 2021-01-29
              4415  002579.SZ     -0.021097 2021-01-29
              4416  002597.SZ      0.006818 2021-01-29
              4417  002653.SZ     -0.020397 2021-01-29
              4418  002634.SZ     -0.001686 2021-01-29

              [4419 rows x 3 columns],
              'group_3':         ts_code  profit_daily trade_date
              0     600362.SH      0.071679 2021-01-04
              1     600348.SH      0.023173 2021-01-04
              2     600332.SH      0.001368 2021-01-04
              3     600315.SH      0.073711 2021-01-04
              4     600448.SH     -0.002725 2021-01-04
              ...         ...           ...        ...
              4405  002594.SZ      0.010804 2021-01-29
              4406  002662.SZ     -0.070822 2021-01-29
              4407  002655.SZ      0.020062 2021-01-29
              4408  002648.SZ      0.100063 2021-01-29
              4409  002645.SZ     -0.099820 2021-01-29

              [4410 rows x 3 columns],
              'group_4':         ts_code  profit_daily trade_date
              0     600327.SH      0.007229 2021-01-04
              1     600325.SH     -0.022544 2021-01-04
              2     600323.SH     -0.003225 2021-01-04
              3     600369.SH      0.061338 2021-01-04
              4     600426.SH     -0.007775 2021-01-04
              ...         ...           ...        ...
              4410  002580.SZ     -0.025926 2021-01-29
              4411  002601.SZ      0.014807 2021-01-29
              4412  002649.SZ     -0.003326 2021-01-29
              4413  002640.SZ     -0.038902 2021-01-29
              4414  002637.SZ      0.004092 2021-01-29

              [4415 rows x 3 columns],
              'group_5':         ts_code  profit_daily trade_date
              0     600351.SH      0.002008 2021-01-04
              1     600337.SH      0.015317 2021-01-04
              2     600372.SH      0.066158 2021-01-04
              3     600410.SH      0.012415 2021-01-04
              4     600409.SH     -0.024390 2021-01-04
              ...         ...           ...        ...
              4400  002576.SZ     -0.010700 2021-01-29
              4401  002664.SZ     -0.024938 2021-01-29
              4402  002657.SZ     -0.027679 2021-01-29
              4403  002669.SZ     -0.018667 2021-01-29
              4404  002643.SZ     -0.034775 2021-01-29

              [4405 rows x 3 columns],
              'group_6':         ts_code  profit_daily trade_date
              0     600353.SH      0.011091 2021-01-04
              1     600343.SH      0.048156 2021-01-04
              2     600331.SH      0.022624 2021-01-04
              3     600312.SH      0.009804 2021-01-04
              4     600392.SH      0.035996 2021-01-04
              ...         ...           ...        ...
              4411  002603.SZ      0.011162 2021-01-29
              4412  002595.SZ      0.004979 2021-01-29
              4413  002660.SZ      0.000000 2021-01-29
              4414  002635.SZ     -0.025990 2021-01-29
              4415  002644.SZ     -0.012431 2021-01-29

              [4416 rows x 3 columns],
              'group_7':         ts_code  profit_daily trade_date
              0     600329.SH     -0.005137 2021-01-04
              1     600436.SH      0.046615 2021-01-04
              2     600435.SH      0.026667 2021-01-04
              3     600391.SH      0.049516 2021-01-04
              4     600390.SH      0.000000 2021-01-04
              ...         ...           ...        ...
              4395  002768.SZ     -0.030856 2021-01-29
              4396  002661.SZ     -0.021135 2021-01-29
              4397  002647.SZ     -0.047676 2021-01-29
              4398  002630.SZ     -0.027778 2021-01-29
              4399  002631.SZ     -0.027070 2021-01-29

              [4400 rows x 3 columns],
              'group_8':         ts_code  profit_daily trade_date
              0     600330.SH      0.045455 2021-01-04
              1     600318.SH     -0.009766 2021-01-04
              2     600438.SH      0.083507 2021-01-04
              3     600200.SH     -0.013011 2021-01-04
              4     600276.SH     -0.002333 2021-01-04
              ...         ...           ...        ...
              4395  002602.SZ     -0.060514 2021-01-29
              4396  002626.SZ     -0.041091 2021-01-29
              4397  002651.SZ      0.000000 2021-01-29
              4398  002632.SZ     -0.014263 2021-01-29
              4399  002639.SZ     -0.008772 2021-01-29

              [4400 rows x 3 columns],
              'group_9':         ts_code  profit_daily trade_date
              0     600363.SH      0.058059 2021-01-04
              1     600360.SH      0.003610 2021-01-04
              2     600346.SH      0.017161 2021-01-04
              3     600338.SH      0.010496 2021-01-04
              4     600336.SH     -0.031156 2021-01-04
              ...         ...           ...        ...
              4377  002581.SZ     -0.035503 2021-01-29
              4378  002624.SZ     -0.016228 2021-01-29
              4379  002625.SZ     -0.000437 2021-01-29
              4380  002646.SZ      0.033378 2021-01-29
              4381  002636.SZ     -0.026718 2021-01-29

              [4382 rows x 3 columns]},
             '20210201': {'group_0':         ts_code  profit_daily trade_date
              0     600345.SH     -0.031693 2021-02-01
              1     600348.SH      0.004175 2021-02-01
              2     600339.SH     -0.019608 2021-02-01
              3     600316.SH     -0.005796 2021-02-01
              4     600312.SH     -0.025000 2021-02-01
              ...         ...           ...        ...
              4770  002929.SZ      0.015966 2021-02-26
              4771  003816.SZ      0.007326 2021-02-26
              4772  002781.SZ      0.074481 2021-02-26
              4773  002893.SZ      0.004354 2021-02-26
              4774  002855.SZ      0.014199 2021-02-26

              [4775 rows x 3 columns],
              'group_1':         ts_code  profit_daily trade_date
              0     600350.SH      0.027125 2021-02-01
              1     600361.SH      0.008451 2021-02-01
              2     600332.SH      0.003963 2021-02-01
              3     600331.SH     -0.027027 2021-02-01
              4     600327.SH      0.023936 2021-02-01
              ...         ...           ...        ...
              4765  300010.SZ      0.084708 2021-02-26
              4766  002967.SZ     -0.018598 2021-02-26
              4767  002827.SZ     -0.004562 2021-02-26
              4768  002881.SZ      0.039566 2021-02-26
              4769  002869.SZ     -0.007231 2021-02-26

              [4770 rows x 3 columns],
              'group_2':         ts_code  profit_daily trade_date
              0     600362.SH      0.037686 2021-02-01
              1     600323.SH      0.008076 2021-02-01
              2     600420.SH      0.003529 2021-02-01
              3     600410.SH     -0.008357 2021-02-01
              4     600406.SH      0.009517 2021-02-01
              ...         ...           ...        ...
              4762  002877.SZ      0.009105 2021-02-26
              4763  002839.SZ     -0.022453 2021-02-26
              4764  002845.SZ      0.000390 2021-02-26
              4765  002851.SZ     -0.033233 2021-02-26
              4766  002865.SZ     -0.022545 2021-02-26

              [4767 rows x 3 columns],
              'group_3':         ts_code  profit_daily trade_date
              0     600363.SH     -0.016484 2021-02-01
              1     600337.SH      0.083789 2021-02-01
              2     600448.SH     -0.009375 2021-02-01
              3     600195.SH     -0.076314 2021-02-01
              4     600222.SH      0.006160 2021-02-01
              ...         ...           ...        ...
              4735  002889.SZ      0.002939 2021-02-26
              4736  002891.SZ     -0.044402 2021-02-26
              4737  002853.SZ     -0.002073 2021-02-26
              4738  002858.SZ     -0.002833 2021-02-26
              4739  002861.SZ      0.012288 2021-02-26

              [4740 rows x 3 columns],
              'group_4':         ts_code  profit_daily trade_date
              0     600343.SH      0.058532 2021-02-01
              1     600353.SH     -0.017621 2021-02-01
              2     600352.SH      0.035766 2021-02-01
              3     600328.SH     -0.011817 2021-02-01
              4     600335.SH      0.008475 2021-02-01
              ...         ...           ...        ...
              4747  002887.SZ      0.021240 2021-02-26
              4748  002895.SZ     -0.022519 2021-02-26
              4749  002882.SZ     -0.001134 2021-02-26
              4750  002841.SZ     -0.021891 2021-02-26
              4751  002864.SZ      0.001727 2021-02-26

              [4752 rows x 3 columns],
              'group_5':         ts_code  profit_daily trade_date
              0     600351.SH      0.012658 2021-02-01
              1     600325.SH     -0.020408 2021-02-01
              2     600366.SH      0.028232 2021-02-01
              3     600446.SH      0.020708 2021-02-01
              4     600398.SH      0.048780 2021-02-01
              ...         ...           ...        ...
              4732  002825.SZ      0.017373 2021-02-26
              4733  002826.SZ     -0.004739 2021-02-26
              4734  002880.SZ     -0.013864 2021-02-26
              4735  002873.SZ      0.010759 2021-02-26
              4736  002850.SZ     -0.021828 2021-02-26

              [4737 rows x 3 columns],
              'group_6':         ts_code  profit_daily trade_date
              0     600436.SH      0.025188 2021-02-01
              1     600435.SH      0.002451 2021-02-01
              2     600422.SH     -0.005959 2021-02-01
              3     600400.SH     -0.003401 2021-02-01
              4     600218.SH      0.042345 2021-02-01
              ...         ...           ...        ...
              4713  002803.SZ      0.018145 2021-02-26
              4714  002878.SZ      0.003403 2021-02-26
              4715  002888.SZ      0.013456 2021-02-26
              4716  002842.SZ     -0.004902 2021-02-26
              4717  002866.SZ     -0.002901 2021-02-26

              [4718 rows x 3 columns],
              'group_7':         ts_code  profit_daily trade_date
              0     600346.SH      0.055440 2021-02-01
              1     600360.SH     -0.027778 2021-02-01
              2     600329.SH      0.000000 2021-02-01
              3     600438.SH     -0.056522 2021-02-01
              4     600197.SH      0.002621 2021-02-01
              ...         ...           ...        ...
              4707  002871.SZ      0.013199 2021-02-26
              4708  002847.SZ      0.028361 2021-02-26
              4709  002852.SZ     -0.007241 2021-02-26
              4710  002860.SZ     -0.039309 2021-02-26
              4711  002863.SZ      0.029528 2021-02-26

              [4712 rows x 3 columns],
              'group_8':         ts_code  profit_daily trade_date
              0     600336.SH      0.004471 2021-02-01
              1     600330.SH      0.016932 2021-02-01
              2     600439.SH      0.008584 2021-02-01
              3     600415.SH      0.003891 2021-02-01
              4     600233.SH      0.014899 2021-02-01
              ...         ...           ...        ...
              4716  002840.SZ      0.000000 2021-02-26
              4717  002885.SZ      0.005917 2021-02-26
              4718  002870.SZ      0.011732 2021-02-26
              4719  002843.SZ     -0.008130 2021-02-26
              4720  002846.SZ      0.005348 2021-02-26

              [4721 rows x 3 columns],
              'group_9':         ts_code  profit_daily trade_date
              0     600338.SH     -0.044118 2021-02-01
              1     600318.SH     -0.054018 2021-02-01
              2     600371.SH     -0.006494 2021-02-01
              3     600419.SH      0.007383 2021-02-01
              4     600382.SH      0.016181 2021-02-01
              ...         ...           ...        ...
              4705  002837.SZ     -0.005446 2021-02-26
              4706  002805.SZ      0.056848 2021-02-26
              4707  002892.SZ     -0.001907 2021-02-26
              4708  002867.SZ     -0.058585 2021-02-26
              4709  002859.SZ     -0.036458 2021-02-26

              [4710 rows x 3 columns]},
             '20210301': {'group_0':         ts_code  profit_daily trade_date
              0     600386.SH      0.002985 2021-03-01
              1     600387.SH      0.023609 2021-03-01
              2     600388.SH      0.033860 2021-03-01
              3     600370.SH      0.020528 2021-03-01
              4     600339.SH      0.003610 2021-03-01
              ...         ...           ...        ...
              7237  002769.SZ      0.099476 2021-03-31
              7238  002788.SZ      0.004060 2021-03-31
              7239  002841.SZ      0.043896 2021-03-31
              7240  002845.SZ      0.017886 2021-03-31
              7241  002855.SZ      0.012133 2021-03-31

              [7242 rows x 3 columns],
              'group_1':         ts_code  profit_daily trade_date
              0     600375.SH     -0.002621 2021-03-01
              1     600361.SH      0.007916 2021-03-01
              2     600368.SH      0.020468 2021-03-01
              3     600477.SH      0.041975 2021-03-01
              4     600461.SH      0.047697 2021-03-01
              ...         ...           ...        ...
              7233  002818.SZ      0.015840 2021-03-31
              7234  002828.SZ      0.050412 2021-03-31
              7235  002831.SZ     -0.005463 2021-03-31
              7236  002781.SZ      0.051862 2021-03-31
              7237  002847.SZ     -0.028391 2021-03-31

              [7238 rows x 3 columns],
              'group_2':         ts_code  profit_daily trade_date
              0     600376.SH     -0.001757 2021-03-01
              1     600345.SH     -0.005291 2021-03-01
              2     600351.SH      0.016598 2021-03-01
              3     600409.SH      0.047656 2021-03-01
              4     600468.SH      0.012019 2021-03-01
              ...         ...           ...        ...
              7230  002875.SZ      0.099526 2021-03-31
              7231  002877.SZ      0.011852 2021-03-31
              7232  002850.SZ      0.002632 2021-03-31
              7233  002851.SZ      0.038718 2021-03-31
              7234  002864.SZ     -0.008982 2021-03-31

              [7235 rows x 3 columns],
              'group_3':         ts_code  profit_daily trade_date
              0     600378.SH      0.057100 2021-03-01
              1     600362.SH      0.010753 2021-03-01
              2     600369.SH     -0.006237 2021-03-01
              3     600499.SH      0.088945 2021-03-01
              4     600467.SH      0.003759 2021-03-01
              ...         ...           ...        ...
              7233  002870.SZ     -0.016453 2021-03-31
              7234  002869.SZ      0.015685 2021-03-31
              7235  002866.SZ      0.008150 2021-03-31
              7236  002839.SZ     -0.008897 2021-03-31
              7237  002861.SZ      0.032220 2021-03-31

              [7238 rows x 3 columns],
              'group_4':         ts_code  profit_daily trade_date
              0     600380.SH      0.076799 2021-03-01
              1     600392.SH      0.079545 2021-03-01
              2     600390.SH     -0.006051 2021-03-01
              3     600397.SH      0.028340 2021-03-01
              4     600398.SH      0.034431 2021-03-01
              ...         ...           ...        ...
              7232  002873.SZ     -0.040688 2021-03-31
              7233  002878.SZ      0.004132 2021-03-31
              7234  002886.SZ      0.023219 2021-03-31
              7235  002880.SZ      0.002377 2021-03-31
              7236  002853.SZ     -0.016816 2021-03-31

              [7237 rows x 3 columns],
              'group_5':         ts_code  profit_daily trade_date
              0     600389.SH      0.036139 2021-03-01
              1     600400.SH      0.012945 2021-03-01
              2     600352.SH      0.025998 2021-03-01
              3     600353.SH      0.023504 2021-03-01
              4     600405.SH      0.003968 2021-03-01
              ...         ...           ...        ...
              7233  002879.SZ      0.028631 2021-03-31
              7234  002882.SZ      0.012500 2021-03-31
              7235  002883.SZ      0.013600 2021-03-31
              7236  002840.SZ     -0.002643 2021-03-31
              7237  002863.SZ      0.011673 2021-03-31

              [7238 rows x 3 columns],
              'group_6':         ts_code  profit_daily trade_date
              0     600383.SH      0.019716 2021-03-01
              1     600391.SH      0.021372 2021-03-01
              2     600395.SH      0.009550 2021-03-01
              3     600373.SH      0.010070 2021-03-01
              4     600372.SH      0.005858 2021-03-01
              ...         ...           ...        ...
              7236  002888.SZ      0.018492 2021-03-31
              7237  002889.SZ     -0.001240 2021-03-31
              7238  002867.SZ      0.004595 2021-03-31
              7239  002843.SZ      0.011628 2021-03-31
              7240  002865.SZ     -0.009514 2021-03-31

              [7241 rows x 3 columns],
              'group_7':         ts_code  profit_daily trade_date
              0     600337.SH     -0.046075 2021-03-01
              1     600340.SH     -0.050708 2021-03-01
              2     600363.SH      0.022727 2021-03-01
              3     600366.SH      0.077574 2021-03-01
              4     600428.SH      0.020460 2021-03-01
              ...         ...           ...        ...
              7241  002803.SZ     -0.020888 2021-03-31
              7242  002785.SZ      0.050767 2021-03-31
              7243  002892.SZ      0.016241 2021-03-31
              7244  002846.SZ      0.100000 2021-03-31
              7245  002858.SZ      0.007988 2021-03-31

              [7246 rows x 3 columns],