In [1]:
from factorModel import factorModel  

self = factorModel()


Equity_Idx_Monthly_Equity_Returns, Monthly_Equity_Returns, Monthly_Factor_Score, Equity_Idx_Monthly_Factor_Score, Daily_Equity_Returns, benchmark_dailyret = self.getData()

['20210104', '20210201', '20210301', '20210401', '20210506', '20210601', '20210701', '20210802', '20210901', '20211008', '20211101', '20211201', '20220104', '20220207', '20220301', '20220401', '20220505', '20220601', '20220701', '20220801', '20220901', '20221010', '20221101', '20221201', '20230103', '20230201', '20230301', '20230403', '20230504', '20230601', '20230703'] 31

              group   年化收益率    夏普比率    最大回撤
0           group_0  0.1192  0.7086 -0.2986
1           group_1  0.1217  0.6922 -0.2940
2           group_2  0.1419  0.7889 -0.2965
3           group_3  0.1287  0.6893 -0.3182
4           group_4  0.1063  0.5643 -0.3388
5           group_5  0.0952  0.4953 -0.3466
6           group_6  0.0548  0.2801 -0.3720
7           group_7  0.0401  0.1974 -0.3654
8           group_8 -0.0091 -0.0429 -0.3846
9           group_9 -0.0740 -0.3129 -0.4006
10  longshort_hedge  0.1933  1.1454 -0.1764

In [2]:
import os
import pandas as pd
from collections import defaultdict

def load_xls_files(folder_path):
    results = defaultdict(dict)
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv') and 'all_period_data_' in file:
                file_parts = file.split('_')
                month, group = file_parts[3], file_parts[5]
                group = 'group_' + group.replace('.csv','')
                df = pd.read_csv(os.path.join(root, file))
                df = df.drop(["Unnamed: 0", "chgPct_plus_one"], axis=1)
                #df = df.rename(columns={'chgPct':'profit_daily'})
                if month not in results:
                    results[month] = {group: df}
                else:
                    results[month][group] = df
            else:
                print(file)

    return results

x = load_xls_files('D:\\temp_file\\temp_file')

group_dailyret_dict_group_0.csv
group_dailyret_dict_group_1.csv
group_dailyret_dict_group_2.csv
group_dailyret_dict_group_3.csv
group_dailyret_dict_group_4.csv
group_dailyret_dict_group_5.csv
group_dailyret_dict_group_6.csv
group_dailyret_dict_group_7.csv
group_dailyret_dict_group_8.csv
group_dailyret_dict_group_9.csv
group_dailyret_dict_longshort_hedge.csv

NameError: name 'self2' is not defined

In [3]:
self.MainFunc(x=x)

0.05765283904010655
['20210104', '20210201', '20210301', '20210401', '20210506', '20210601', '20210701', '20210802', '20210901', '20211008', '20211101', '20211201', '20220104', '20220207', '20220301', '20220401', '20220505', '20220601', '20220701', '20220801', '20220901', '20221010', '20221101', '20221201', '20230103', '20230201', '20230301', '20230403', '20230504', '20230601', '20230703'] 31

              group   年化收益率    夏普比率    最大回撤
0           group_0  0.1275  0.8876 -0.2236
1           group_1  0.1273  0.7910 -0.2773
2           group_2  0.1186  0.6826 -0.3258
3           group_3  0.1316  0.7271 -0.3345
4           group_4  0.1125  0.5979 -0.3383
5           group_5  0.1048  0.5282 -0.3761
6           group_6  0.0758  0.3691 -0.3728
7           group_7  0.0773  0.3637 -0.3421
8           group_8  0.0206  0.0915 -0.3676
9           group_9 -0.1030 -0.4098 -0.4518
10  longshort_hedge  0.2334  1.2220 -0.1932

In [6]:
df_group_net, df_bt_indicator = self.run()

In [8]:
df_bt_indicator

              group   年化收益率    夏普比率    最大回撤
0           group_0  0.0623  0.3860 -0.2256
1           group_1  0.0494  0.2719 -0.2748
2           group_2  0.0131  0.0675 -0.3268
3           group_3  0.0195  0.0964 -0.3332
4           group_4  0.0051  0.0247 -0.3347
5           group_5 -0.0122 -0.0564 -0.3739
6           group_6 -0.0361 -0.1622 -0.3691
7           group_7 -0.0452 -0.1996 -0.3442
8           group_8 -0.0902 -0.3824 -0.3743
9           group_9 -0.1759 -0.6651 -0.4145
10  longshort_hedge  0.2381  1.2620 -0.1607