In [1]:
from factorModel import factorModel    

self = factorModel()

Equity_Idx_Monthly_Equity_Returns, Monthly_Equity_Returns, Monthly_Factor_Score, Equity_Idx_Monthly_Factor_Score, Daily_Equity_Returns = self.getData()

In [8]:
Daily_Equity_Returns

        trade_data    ts_code  profit_daily trade_date
0              NaN  000001.SZ      0.010922   20220104
1              NaN  600391.SH     -0.023929   20220104
2              NaN  600392.SH     -0.012232   20220104
3              NaN  600395.SH      0.037139   20220104
4              NaN  600396.SH     -0.017595   20220104
...            ...        ...           ...        ...
1182196        NaN  003006.SZ     -0.013819   20230714
1182197        NaN  003009.SZ      0.018718   20230714
1182198        NaN  003012.SZ      0.031250   20230714
1182199        NaN  002988.SZ      0.025168   20230714
1182200        NaN  689009.SH     -0.012553   20230714

[1182201 rows x 4 columns]

In [ ]:
ICList.mean() / 20 * 242