In [1]:
from factorModel import factorModel    

self = factorModel()

In [2]:
import os
import pandas as pd
from collections import defaultdict

def load_xls_files(folder_path):
    results = defaultdict(dict)
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv') and 'all_period_data_' in file:
                file_parts = file.split('_')
                month, group = file_parts[3], file_parts[5]
                group = 'group_' + group.replace('.csv','')
                df = pd.read_csv(os.path.join(root, file))
                df = df.drop(["Unnamed: 0", "chgPct_plus_one"], axis=1)
                df = df.rename(columns={'chgPct':'profit_daily'})
                if month not in results:
                    results[month] = {group: df}
                else:
                    results[month][group] = df
            else:
                print(file)

    return results

x = load_xls_files('D:\\temp_file\\temp_file')

group_dailyret_dict_group_0.csv
group_dailyret_dict_group_1.csv
group_dailyret_dict_group_2.csv
group_dailyret_dict_group_3.csv
group_dailyret_dict_group_4.csv
group_dailyret_dict_group_5.csv
group_dailyret_dict_group_6.csv
group_dailyret_dict_group_7.csv
group_dailyret_dict_group_8.csv
group_dailyret_dict_group_9.csv
group_dailyret_dict_longshort_hedge.csv

In [3]:
self.run(x=x)

defaultdict(dict,
            {'20210104': {'group_0':       trade_date    ts_code  profit_daily
              0       20210104  000001.SZ     -0.038263
              1       20210104  600755.SH     -0.002994
              2       20210104  600787.SH     -0.002169
              3       20210104  600820.SH     -0.001848
              4       20210104  600823.SH     -0.019523
              ...          ...        ...           ...
              4655    20210201  600016.SH      0.005871
              4656    20210201  600018.SH      0.004535
              4657    20210201  600025.SH      0.006726
              4658    20210201  002841.SZ      0.031232
              4659    20210201  603980.SH      0.021703

              [4660 rows x 3 columns],
              'group_1':       trade_date    ts_code  profit_daily
              0       20210104  000005.SZ     -0.003953
              1       20210104  600487.SH      0.015011
              2       20210104  600489.SH      0.028377
              3       20210104  600512.SH     -0.003378
              4       20210104  600547.SH      0.023285
              ...          ...        ...           ...
              4642    20210201  002462.SZ      0.017451
              4643    20210201  002478.SZ     -0.010695
              4644    20210201  002493.SZ      0.100000
              4645    20210201  002375.SZ      0.020408
              4646    20210201  688098.SH      0.015183

              [4647 rows x 3 columns],
              'group_2':       trade_date    ts_code  profit_daily
              0       20210104  000006.SZ     -0.016043
              1       20210104  600452.SH     -0.016413
              2       20210104  600461.SH      0.000000
              3       20210104  600486.SH     -0.010909
              4       20210104  600491.SH      0.001912
              ...          ...        ...           ...
              4642    20210201  002557.SZ     -0.015728
              4643    20210201  002563.SZ      0.003484
              4644    20210201  002609.SZ      0.001119
              4645    20210201  002430.SZ      0.099925
              4646    20210201  688036.SH     -0.091553

              [4647 rows x 3 columns],
              'group_3':       trade_date    ts_code  profit_daily
              0       20210104  000061.SZ      0.029787
              1       20210104  600148.SH      0.025465
              2       20210104  600216.SH      0.017647
              3       20210104  600222.SH      0.000000
              4       20210104  600239.SH     -0.012397
              ...          ...        ...           ...
              4654    20210201  002616.SZ      0.017291
              4655    20210201  002637.SZ     -0.022005
              4656    20210201  002666.SZ      0.004425
              4657    20210201  002534.SZ     -0.004739
              4658    20210201  688108.SH      0.074818

              [4659 rows x 3 columns],
              'group_4':       trade_date    ts_code  profit_daily
              0       20210104  000026.SZ      0.034996
              1       20210104  300595.SZ      0.000488
              2       20210104  300601.SZ     -0.048825
              3       20210104  300616.SZ      0.129802
              4       20210104  300653.SZ      0.002119
              ...          ...        ...           ...
              4657    20210201  002583.SZ     -0.056027
              4658    20210201  002640.SZ     -0.033333
              4659    20210201  002648.SZ      0.100057
              4660    20210201  002463.SZ     -0.060023
              4661    20210201  688088.SH      0.020114

              [4662 rows x 3 columns],
              'group_5':       trade_date    ts_code  profit_daily
              0       20210104  000016.SZ      0.013616
              1       20210104  300548.SZ      0.019048
              2       20210104  300559.SZ      0.014925
              3       20210104  300634.SZ      0.010799
              4       20210104  300657.SZ      0.036686
              ...          ...        ...           ...
              4627    20210201  002677.SZ      0.072165
              4628    20210201  002695.SZ      0.006714
              4629    20210201  002726.SZ      0.004032
              4630    20210201  002545.SZ      0.004988
              4631    20210201  688366.SH      0.001317

              [4632 rows x 3 columns],
              'group_6':       trade_date    ts_code  profit_daily
              0       20210104  000034.SZ      0.018173
              1       20210104  300748.SZ      0.058338
              2       20210104  300761.SZ      0.190200
              3       20210104  300765.SZ      0.006414
              4       20210104  300771.SZ      0.009168
              ...          ...        ...           ...
              4652    20210201  002859.SZ      0.043463
              4653    20210201  002918.SZ      0.039670
              4654    20210201  002929.SZ      0.002747
              4655    20210201  002669.SZ      0.017663
              4656    20210201  688321.SH      0.032682

              [4657 rows x 3 columns],
              'group_7':       trade_date    ts_code  profit_daily
              0       20210104  000009.SZ      0.034529
              1       20210104  300770.SZ     -0.093030
              2       20210104  300773.SZ      0.027741
              3       20210104  300785.SZ     -0.011664
              4       20210104  300803.SZ      0.005828
              ...          ...        ...           ...
              4654    20210201  002727.SZ      0.049896
              4655    20210201  002746.SZ      0.001992
              4656    20210201  002768.SZ      0.027046
              4657    20210201  002522.SZ      0.017361
              4658    20210201  688388.SH      0.005143

              [4659 rows x 3 columns],
              'group_8':       trade_date    ts_code  profit_daily
              0       20210104  000066.SZ      0.090047
              1       20210104  300829.SZ      0.070325
              2       20210104  300841.SZ      0.065714
              3       20210104  300846.SZ      0.011266
              4       20210104  300857.SZ      0.013546
              ...          ...        ...           ...
              4647    20210201  002978.SZ      0.027815
              4648    20210201  002990.SZ      0.009660
              4649    20210201  002991.SZ      0.075565
              4650    20210201  002838.SZ      0.060477
              4651    20210201  688006.SH      0.035471

              [4652 rows x 3 columns],
              'group_9':       trade_date    ts_code  profit_daily
              0       20210104  000040.SZ      0.025788
              1       20210104  600110.SH      0.100541
              2       20210104  600113.SH      0.000000
              3       20210104  600125.SH     -0.003322
              4       20210104  600152.SH      0.036885
              ...          ...        ...           ...
              4816    20210201  002733.SZ      0.011599
              4817    20210201  002738.SZ      0.006667
              4818    20210201  002750.SZ      0.008547
              4819    20210201  002762.SZ     -0.012987
              4820    20210201  605199.SH      0.020093

              [4821 rows x 3 columns]},
             '20210201': {'group_0':       trade_date    ts_code  profit_daily
              0       20210201  000031.SZ     -0.086849
              1       20210201  601003.SH      0.010791
              2       20210201  600998.SH     -0.002115
              3       20210201  600996.SH     -0.026369
              4       20210201  600981.SH     -0.010490
              ...          ...        ...           ...
              4854    20210301  600021.SH      0.000000
              4855    20210301  600018.SH      0.012579
              4856    20210301  600016.SH     -0.001931
              4857    20210301  600035.SH      0.000000
              4858    20210301  603999.SH      0.013672

              [4859 rows x 3 columns],
              'group_1':       trade_date    ts_code  profit_daily
              0       20210201  000001.SZ      0.063231
              1       20210201  600620.SH     -0.027634
              2       20210201  600617.SH      0.021680
              3       20210201  600612.SH      0.026091
              4       20210201  600604.SH     -0.032040
              ...          ...        ...           ...
              4848    20210301  002599.SZ      0.018919
              4849    20210301  002579.SZ      0.032922
              4850    20210301  002574.SZ      0.027990
              4851    20210301  002698.SZ      0.025424
              4852    20210301  688108.SH      0.027374

              [4853 rows x 3 columns],
              'group_2':       trade_date    ts_code  profit_daily
              0       20210201  000028.SZ      0.017448
              1       20210201  600797.SH     -0.011272
              2       20210201  600787.SH      0.022523
              3       20210201  600754.SH     -0.015604
              4       20210201  600742.SH      0.021864
              ...          ...        ...           ...
              4857    20210301  002737.SZ      0.003794
              4858    20210301  002729.SZ      0.004929
              4859    20210301  002706.SZ      0.024342
              4860    20210301  002826.SZ      0.040476
              4861    20210301  688099.SH     -0.012295

              [4862 rows x 3 columns],
              'group_3':       trade_date    ts_code  profit_daily
              0       20210201  000019.SZ      0.001597
              1       20210201  600662.SH      0.009877
              2       20210201  600660.SH      0.000169
              3       20210201  600643.SH     -0.013158
              4       20210201  600628.SH      0.025033
              ...          ...        ...           ...
              4857    20210301  002705.SZ     -0.001575
              4858    20210301  002694.SZ      0.026667
              4859    20210301  002675.SZ      0.050454
              4860    20210301  002658.SZ      0.068223
              4861    20210301  688321.SH      0.014623

              [4862 rows x 3 columns],
              'group_4':       trade_date    ts_code  profit_daily
              0       20210201  000008.SZ     -0.056452
              1       20210201  600070.SH     -0.100509
              2       20210201  600031.SH      0.031142
              3       20210201  600026.SH     -0.009434
              4       20210201  300810.SZ      0.012883
              ...          ...        ...           ...
              4852    20210301  002761.SZ      0.010152
              4853    20210301  002760.SZ      0.097184
              4854    20210301  002757.SZ      0.035261
              4855    20210301  002839.SZ      0.003534
              4856    20210301  688388.SH      0.018068

              [4857 rows x 3 columns],
              'group_5':       trade_date    ts_code  profit_daily
              0       20210201  000011.SZ      0.033268
              1       20210201  600216.SH     -0.006608
              2       20210201  600210.SH      0.006652
              3       20210201  600187.SH      0.004525
              4       20210201  600160.SH      0.023810
              ...          ...        ...           ...
              4840    20210301  002937.SZ      0.038558
              4841    20210301  002927.SZ      0.030039
              4842    20210301  002926.SZ      0.004946
              4843    20210301  002918.SZ      0.066448
              4844    20210301  688188.SH      0.030108

              [4845 rows x 3 columns],
              'group_6':       trade_date    ts_code  profit_daily
              0       20210201  000009.SZ      0.045058
              1       20210201  300808.SZ      0.015251
              2       20210201  300799.SZ      0.000226
              3       20210201  300793.SZ     -0.000571
              4       20210201  300791.SZ      0.023062
              ...          ...        ...           ...
              4853    20210301  002810.SZ      0.040000
              4854    20210301  002803.SZ      0.065064
              4855    20210301  002782.SZ      0.100000
              4856    20210301  002860.SZ      0.005580
              4857    20210301  688116.SH      0.065432

              [4858 rows x 3 columns],
              'group_7':       trade_date    ts_code  profit_daily
              0       20210201  000004.SZ     -0.055281
              1       20210201  600096.SH      0.039764
              2       20210201  600075.SH      0.068966
              3       20210201  600073.SH     -0.021229
              4       20210201  300813.SZ      0.022558
              ...          ...        ...           ...
              4858    20210301  002687.SZ      0.005226
              4859    20210301  002685.SZ      0.017632
              4860    20210301  002649.SZ      0.049370
              4861    20210301  002750.SZ      0.035088
              4862    20210301  688366.SH     -0.015286

              [4863 rows x 3 columns],
              'group_8':       trade_date    ts_code  profit_daily
              0       20210201  000040.SZ     -0.100000
              1       20210201  300842.SZ     -0.040703
              2       20210201  300822.SZ      0.026376
              3       20210201  300821.SZ     -0.003876
              4       20210201  300815.SZ     -0.020088
              ...          ...        ...           ...
              4859    20210301  002871.SZ      0.017625
              4860    20210301  002863.SZ      0.017208
              4861    20210301  002843.SZ      0.015027
              4862    20210301  002973.SZ      0.014906
              4863    20210301  688029.SH     -0.029776

              [4864 rows x 3 columns],
              'group_9':       trade_date    ts_code  profit_daily
              0       20210201  000100.SZ      0.051222
              1       20210201  600111.SH     -0.044382
              2       20210201  600110.SH      0.031893
              3       20210201  600103.SH      0.015625
              4       20210201  600095.SH     -0.100282
              ...          ...        ...           ...
              4922    20210301  002805.SZ     -0.001222
              4923    20210301  002796.SZ      0.014431
              4924    20210301  002781.SZ      0.100000
              4925    20210301  002870.SZ      0.004638
              4926    20210301  605118.SH      0.019417

              [4927 rows x 3 columns]},
             '20210301': {'group_0':       trade_date    ts_code  profit_daily
              0       20210301  000042.SZ      0.000000
              1       20210301  601019.SH      0.013889
              2       20210301  601010.SH      0.010274
              3       20210301  601006.SH      0.003063
              4       20210301  601000.SH      0.008333
              ...          ...        ...           ...
              7286    20210401  600061.SH      0.004092
              7287    20210401  600053.SH      0.034788
              7288    20210401  600036.SH     -0.000978
              7289    20210401  600120.SH      0.000000
              7290    20210401  603999.SH     -0.003876

              [7291 rows x 3 columns],
              'group_1':       trade_date    ts_code  profit_daily
              0       20210301  000008.SZ      0.008511
              1       20210301  600748.SH      0.004264
              2       20210301  600743.SH      0.004808
              3       20210301  600741.SH     -0.006977
              4       20210301  600728.SH      0.016012
              ...          ...        ...           ...
              7279    20210401  002549.SZ     -0.012291
              7280    20210401  002546.SZ     -0.010256
              7281    20210401  002542.SZ      0.101010
              7282    20210401  002632.SZ      0.000000
              7283    20210401  688030.SH      0.001865

              [7284 rows x 3 columns],
              'group_2':       trade_date    ts_code  profit_daily
              0       20210301  000001.SZ      0.003274
              1       20210301  600512.SH      0.029630
              2       20210301  600508.SH      0.024803
              3       20210301  600505.SH      0.001715
              4       20210301  600482.SH      0.008834
              ...          ...        ...           ...
              7283    20210401  002643.SZ     -0.021146
              7284    20210401  002639.SZ      0.013333
              7285    20210401  002636.SZ      0.006278
              7286    20210401  002724.SZ     -0.013733
              7287    20210401  688321.SH     -0.009673

              [7288 rows x 3 columns],
              'group_3':       trade_date    ts_code  profit_daily
              0       20210301  000005.SZ      0.042056
              1       20210301  600486.SH      0.019696
              2       20210301  600477.SH      0.041975
              3       20210301  600468.SH      0.012019
              4       20210301  600461.SH      0.047697
              ...          ...        ...           ...
              7291    20210401  002747.SZ      0.010042
              7292    20210401  002743.SZ     -0.008451
              7293    20210401  002696.SZ     -0.001848
              7294    20210401  002791.SZ      0.058373
              7295    20210401  688122.SH      0.011076

              [7296 rows x 3 columns],
              'group_4':       trade_date    ts_code  profit_daily
              0       20210301  000006.SZ      0.005814
              1       20210301  600277.SH      0.043919
              2       20210301  600196.SH      0.003910
              3       20210301  600171.SH      0.043956
              4       20210301  600161.SH     -0.008264
              ...          ...        ...           ...
              7284    20210401  002679.SZ     -0.049780
              7285    20210401  002659.SZ      0.007752
              7286    20210401  002657.SZ      0.000000
              7287    20210401  002717.SZ     -0.012539
              7288    20210401  688388.SH      0.044104

              [7289 rows x 3 columns],
              'group_5':       trade_date    ts_code  profit_daily
              0       20210301  000002.SZ      0.007553
              1       20210301  600160.SH      0.016055
              2       20210301  600158.SH      0.033392
              3       20210301  600133.SH      0.010545
              4       20210301  600118.SH      0.017296
              ...          ...        ...           ...
              7258    20210401  002892.SZ     -0.014155
              7259    20210401  002887.SZ     -0.027047
              7260    20210401  002886.SZ     -0.019562
              7261    20210401  002912.SZ     -0.000613
              7262    20210401  688139.SH     -0.001389

              [7263 rows x 3 columns],
              'group_6':       trade_date    ts_code  profit_daily
              0       20210301  000004.SZ      0.014324
              1       20210301  600293.SH      0.004505
              2       20210301  600285.SH      0.027316
              3       20210301  600251.SH      0.010955
              4       20210301  600239.SH      0.008439
              ...          ...        ...           ...
              7280    20210401  002940.SZ     -0.032002
              7281    20210401  002935.SZ      0.017883
              7282    20210401  002931.SZ      0.100133
              7283    20210401  002990.SZ     -0.000909
              7284    20210401  688005.SH      0.012778

              [7285 rows x 3 columns],
              'group_7':       trade_date    ts_code  profit_daily
              0       20210301  000011.SZ      0.029650
              1       20210301  300820.SZ      0.078064
              2       20210301  300813.SZ      0.018914
              3       20210301  300809.SZ      0.032299
              4       20210301  300806.SZ      0.040284
              ...          ...        ...           ...

(             group_0   group_1   group_2   group_3   group_4   group_5  \
 trade_date
 20220103    1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
 20220104    1.008549  1.006024  1.006068  1.005553  1.010824  1.007584
 20220105    1.002550  0.994497  0.990242  0.990282  0.994822  0.988349
 20220106    0.999595  0.998634  0.993125  0.998387  1.004133  0.997941
 20220107    0.998570  0.990956  0.984349  0.987490  0.990462  0.980572
 ...              ...       ...       ...       ...       ...       ...
 20230712    1.087514  1.066959  1.011463  1.022885  1.001426  0.978120
 20230713    1.096557  1.075628  1.020712  1.032446  1.010342  0.987891
 20230714    1.095009  1.074191  1.017859  1.029466  1.006558  0.983897
 20230717    1.092585  1.072663  1.017180  1.026408  1.004278  0.979913
 20230718    1.095699  1.075895  1.020139  1.029944  1.007871  0.981223

              group_6   group_7   group_8   group_9  longshort_hedge
 trade_date
 20220103    1.000000  1.000000  1.000000  1.000000         1.000000
 20220104    1.007347  1.012533  1.011365  1.021492         0.987056
 20220105    0.990830  0.997150  0.990739  1.003421         0.999129
 20220106    1.001242  1.009790  1.002687  1.012652         0.986942
 20220107    0.984634  0.990389  0.977335  0.986482         1.012088
 ...              ...       ...       ...       ...              ...
 20230712    0.938859  0.926453  0.858866  0.722009         1.365505
 20230713    0.948933  0.936190  0.868042  0.735481         1.361076
 20230714    0.946763  0.935954  0.871422  0.743289         1.351720
 20230717    0.944191  0.932810  0.865918  0.738655         1.353930
 20230718    0.944447  0.930518  0.861300  0.729658         1.366041

 [373 rows x 11 columns],
               group
 0           group_0  0.0623  0.3860 -0.2256
 1           group_1  0.0494  0.2719 -0.2748
 2           group_2  0.0131  0.0675 -0.3268
 3           group_3  0.0195  0.0964 -0.3332
 4           group_4  0.0051  0.0247 -0.3347
 5           group_5 -0.0122 -0.0564 -0.3739
 6           group_6 -0.0361 -0.1622 -0.3691
 7           group_7 -0.0452 -0.1996 -0.3442
 8           group_8 -0.0902 -0.3824 -0.3743
 9           group_9 -0.1759 -0.6651 -0.4145
 10  longshort_hedge  0.2381  1.2620 -0.1607)

In [23]:
self = factorModel()
self.run()
indicator_lst = []
eachgroup_show = self.EachGroupPortRet(x)  # output1
df_group_net = pd.DataFrame()
for group in eachgroup_show:
    df_group_indicator, indi_lst = self.HistoryAccuRetAndIndicator(group, eachgroup_show[group])
    df_group_net[group] = df_group_indicator[group]
    indicator_lst.append(indi_lst)
df_bt_indicator = pd.DataFrame(indicator_lst, index=range(len(indicator_lst)), columns=['group', '', '', ''])

# return df_group_net, df_bt_indicator

IndexError: invalid index to scalar variable.

In [9]:
len(a['ts_code'].unique())

313

In [12]:
groupedDaily.keys()

dict_keys(['20220104', '20220207', '20220301', '20220401', '20220505', '20220601', '20220701', '20220801', '20220901', '20221010', '20221101', '20221201', '20230103', '20230201', '20230301', '20230403', '20230504', '20230601', '20230703'])